body {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

header {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    background: white;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 5%;
    box-shadow: 0 5px 10px rgb(199, 195, 195);
}

header .mountains:hover {
    transform: scale(1.2);
}

header nav ul li {
    position: relative;
    float: left;
}

header nav ul li a{
    padding: 25px;
    color: rgb(0, 156, 18);
    font-size: 18px;
    display: block;
    font-family: Impact, fantasy;
}

header nav ul li a:hover {
    background-color: black;
}

.list {
    list-style: none;
    text-decoration: none;
}

.mountains {
    width: 80px;
    height: 80px;
}

/* <!-- Второй блок --> */

.landscape {
    margin: 100px 200px 0px 200px;
    width: 1520px;
    height: 700px;
}

.main_title {
    position: absolute;
    color: rgb(255, 255, 255);
    text-align: center;
    font-size: 100px;
    padding: 200px;
    left: 300px;
    top: 30px;
    font-weight: 900;
    font-style: Andale Mono, monospace;
}

.sec_one {
    margin: 0px 500px;
    background-color: bisque;
    text-align: center;
    border-radius: 40px;
}

/* Третий блок */
.form_order {
    height: 400px;
    text-align: center;
    padding-bottom: 50px;
}

.main_title2 {
    font-size: 30px;
    text-align: center;
    padding-top: 60px;
    margin-top: 0px;
    margin-bottom: 40px;
    font-family: sans-serif;
}

.form_field {
    width: 390px;
    text-align: center;
    margin: 0 auto;
}

.form_field input {
    padding-left: 20px;
    box-sizing: border-box;
}

.field {
    margin: 5px;
    width: 350px;
    height: 35px;
}

.bch {
    width: 350px;
    height: 40px;
    margin-top: 5px;
    color: black;
    font-size: 14px;
    font-weight: bold;
    background-color: rgb(4, 144, 65);
}

.bch:hover {
    background-color: rgb(0, 137, 50);
    box-shadow: 10px 10px 10px rgb(196, 196, 196);
}

/* Вторая секция */

.sec_two {
    padding-top: 30px;
    padding-bottom: 60px;
}


/* Третья секция */

.sec_three {
    padding-top: 20px;
    padding-bottom: 20px;
}


.main_block {
    display: flex;
    justify-content: space-between;
}

.main2_block {
    display: flex;
    justify-content: space-between;
}

.blocks {
    text-align: center;
    width: 300px;
    font-family: sans-serif;
}

.list_image_item {
    width: 400px;
    height: 300px;
}

/* Секция пять */

