body {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

header {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    background: white;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 5%;
    box-shadow: 0 5px 10px rgb(199, 195, 195);
}

header .mountains:hover {
    transform: scale(1.2);
}

header nav ul li {
    position: relative;
    float: left;
}

header nav ul li a{
    padding: 25px;
    color: rgb(0, 156, 18);
    font-size: 18px;
    display: block;
    font-family: Impact, fantasy;
}

header nav ul li a:hover {
    background-color: black;
}

.list {
    list-style: none;
    text-decoration: none;
}

.mountains {
    width: 80px;
    height: 80px;
}


/* .wrapper {
    padding-bottom: 20px;
    width: 200px;
    height: 150px;
    display: flex;
    justify-content: space-between;
    align-items: center;
} */

/* .header {
    height: 700px;
    width: 1520px;
} */

/* .banner {
    width: 1550px;
    position: relative;

} */

/* .landscape {
    width: 1520px;
    height: 700px;
    position: absolute;
} */

/* .main_title {
    position: absolute;
    color: rgb(255, 255, 255);
    font-size: 100px;
    padding: 200px;
    left: 150px;
    top: 70px;
    font-weight: 900;
    font-style: Andale Mono, monospace;
} */

/* Вторая секция */

.sec_two {
    padding-top: 30px;
    padding-bottom: 60px;
}


/* Третья секция */

.sec_three {
    padding-top: 30px;
    padding-bottom: 60px;
}


.main_block {
    display: flex;
    justify-content: space-between;
}

.main2_block {
    display: flex;
    justify-content: space-between;
}

.blocks {
    text-align: center;
    width: 300px;
    font-family: sans-serif;
}

.list_image_item {
    width: 400px;
    height: 300px;
}

/* Секция пять */

