.contact_title {
    margin-top: 120px;
    text-align: center;
    width: 100%;
    background-color: rgb(232, 240, 238);
    width: 1000px;
    margin-left: 385px;
    color: rgb(5, 141, 141);
    padding: 20px 0px 20px 0px;
    border-radius: 60%;
}


